// COLORS (change them)
$color-primary: #000;
$color-primary-light: #000;
$color-primary-dark: #000;

$color-secondary: #000;
$color-secondary-light: #000;
$color-secondary-dark: #000;

$color-tertiary-light: #000;
$color-tertiary-dark: #000;

$color-grey-light-1: #000;
$color-grey-light-2: #000;

$color-grey-dark-1: #000;
$color-grey-dark-2: #000;

$color-white: #ffffff;
$color-black: #000000;

// Fonts (change them)
$primary-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Poppins', sans-serif;
