// Change Them as you want

body {
  font-family: $primary-font-family;
  font-weight: 400;
  line-height: 1.6;
  color: $color-grey-dark-1;
}

.heading-primary {
  &--main {
  }

  &--sub {
  }
}

.heading-secondary {
}

.paragraph {
}
